@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

.container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// HERO SECTION
.hero {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  background-color: black;

  .hero-info {
    text-align: center;
    width: 100%;
    margin-bottom: 4rem;
    h1 {
      font-size: 5rem;
      text-align: center;
      font-weight: 500;
      color: whitesmoke;
    }

    p {
      width: 100%;
      font-size: 1.6rem;
      letter-spacing: 0.5rem;
      text-transform: uppercase;
      text-align: center;
      color: whitesmoke;
    }
    .btn {
      margin-top: 5rem;
      text-align: center;
      .button {
        margin-top: 5rem;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: 0.5rem;
        text-align: center;
        padding: 2rem 5rem;
        background-color: rgba(85, 85, 85, 0.5);
        color: whitesmoke;
        transition: 0.4s ease;

        &:hover {
          background-color: rgb(49, 33, 33);
          transition: 0.4s ease;
        }
      }
    }
  }
  .hero-img {
    height: auto;
    width: 80%;
    margin-bottom: 3rem;

    img {
      height: 100%;
      width: 100%;
    }
  }
}
// END HERO SECTION

// ABOUT SECTION
.about {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10rem 5rem;

  .about-info {
    min-width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;

    h1 {
      font-size: 5rem;
      text-transform: capitalize;
      font-weight: 700;
      letter-spacing: 0.2rem;
      margin-bottom: 1rem;
    }
    p {
      width: 80%;
      font-size: 1.4rem;
      letter-spacing: 0.01rem;
    }

    .btn {
      margin-top: 5rem;
      text-align: center;
      .button {
        margin-top: 5rem;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: 0.2rem;
        text-align: center;
        padding: 2rem 5rem;
        background-color: rgba(0, 0, 0, 0.5);
        color: whitesmoke;
      }
    }
  }
  .about-img {
    margin-top: 3rem;
    height: auto;
    max-width: 350px;
    position: relative;

    .img-wraper {
      position: relative;
      z-index: 1;

      img {
        height: 100%;
        width: 100%;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -4rem;
        transform: translateY(-50%);
        height: 120%;
        width: 75%;
        background-color: rgba(34, 33, 33, 0.158);
        z-index: -1;
      }
    }
  }
}

//END ABOUT SECTION

// SERVICES SECTION
.services {
  height: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 5rem 7rem;

  .services-info {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    h1 {
      font-size: 5rem;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 1rem;
      letter-spacing: 0.2rem;
    }
    p {
      font-size: 1.4rem;
      letter-spacing: 0.01rem;
      width: 100%;
      padding: 0 2rem;
    }
  }

  .services-flipcard {
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    .flipcard {
      text-align: center;
      position: relative;
      width: 80%;
      min-height: 300px;
      margin: 0 auto;
      .card {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        transition: 0.5s ease;
      }

      .front {
        background-color: rgba(0, 0, 0, 0.13);
        padding: 10px;
        transform: rotateY(0deg);
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        i {
          font-size: 5rem;
          margin-bottom: 1rem;
        }
        h1 {
          font-size: 3rem;
          font-weight: 500;
        }
      }
      .back {
        background-color: rgba(0, 0, 0, 0.13);
        transform: rotateY(180deg);
        z-index: 9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
          font-size: 3rem;
          font-weight: 500;
        }
        p {
          font-size: 1.4rem;
          letter-spacing: 0.01rem;
          width: 100%;
          padding: 10px;
        }
      }

      &:hover .front {
        transform: rotateY(180deg);
        transition: 1s ease;
      }
      &:hover .back {
        transform: rotateY(0deg);
        transition: 1s ease;
      }

      .laptop {
        background-image: url(images/img-2.jpg);
        background-size: cover;
        background-position: center top;
        color: whitesmoke;
      }
    }
  }
}
// END SERVICES SECTION

// HIRE SECTION
.hire {
  min-height: 10vh;
  width: 100%;
  text-align: center;
  background-color: rgb(172, 172, 172);
  padding: 5rem 5rem;

  h1 {
    font-size: 2rem;
  }

  .btn {
    margin-top: 3rem;
    .button {
      font-size: 2.2rem;
      background-color: rgba(116, 107, 107, 0.7);
      padding: 1rem 3rem;
      text-decoration: none;
      color: whitesmoke;
      transition: 0.4s ease;
      display: inline-block;

      &:hover {
        background: #000;
        transition: 0.4s ease;
      }
    }
  }
}
// END HIRE SECTION

// FOOTER SECTION
.footer {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 5rem 4rem;

  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 2.3rem;
      letter-spacing: 0.3rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      letter-spacing: 0.2rem;
      margin-bottom: 6px;
    }
  }

  .social-links {
    h1 {
      font-size: 2.3rem;
      letter-spacing: 0.2rem;
    }
    .social-icon {
      margin-top: 0.5rem;
      font-size: 2.5rem;

      .fa-facebook-f {
        margin-right: 0.4rem;
      }
      .fa-instagram {
        margin-right: 0.4rem;
      }
      .fa-behance {
        margin-right: 0.4rem;
      }
    }
  }
}

// END FOOTER SECTION

// MEDIA QUERY FOR MOBILE AND TABLET

@media only screen and (min-width: 768px) {
  // hero section
  .hero {
    height: 100vh;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .hero-info {
      text-align: left;
      max-width: 30%;
      h1 {
        text-align: left;
        font-size: 5rem;
        font-weight: 400;
      }
      p {
        text-align: left;
        font-size: 1.4rem;
        letter-spacing: 0.7rem;
      }

      .btn {
        text-align: left;
      }
    }
    .hero-img {
      min-width: 400px;
      max-width: 1000px;
    }
  }
  // end hero section

  // about section
  .about {
    width: 80%;
    margin: 0 auto;
    flex-direction: row;

    .about-info {
      padding-right: 13rem;
      p {
        font-size: 1.6rem;
      }
      .btn {
        // display: inherit;
      }
    }
  }
  // end about section

  // services section
  .services {
    .services-info {
      p {
        margin: 0 auto;
        max-width: 700px;
      }
    }
    .services-flipcard {
      flex-direction: row;
    }
  }
  //end services section
}
//END MEDIA QUERY FOR MOBILE AND TABLET
